body {
    font-family: Arial;
    background: #111;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

form {
    margin: 20px auto;
}

select, button {
    padding: 10px;
    margin: 10px;
}

button {
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #222;
}
